@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

:root{
    --cor1: #f5f5f5;
    --cor2: #e4e4e4;
    --cor3: #d3d3d3;
    --cor4: #818382;
    --cor5: #444645;

    --fonte1: Arial, Helvetica, sans-serif; 
    --fonte2: 'Bubblegum Sans', cursive;
    --fonte3: 'Titillium Web', sans-serif;
}

body {
    font-family: var(--fonte1);
    background-color: var(--cor1);
}
